* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 200px;
    padding: 24px;
    gap: 12px;
    background-color: grey;
    margin: auto;
}

.operators {
    display: flex;
    justify-content: space-between;
}

.digits {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    align-items: flex-start;
    gap: 4px;
}

.operator {
    padding: 8px;
    border: 1px solid black;
    background-color: white;
    text-align: center;
}

.digit {
    padding: 8px;
    border: 1px solid black;
    flex: 1 0 40px;
    text-align: center;
    background-color: white;
}

.clear {
    padding: 8px;
    background-color: red;
    color: white;
    text-align: center;
}

